.recipe-card {
 background-color: $recipe-card;
 padding: 40px 30px 30px;
 color: $recipes-text;
 position: relative;

 &::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, $recipe-card);
 }
}

.recipe-card__content {
 height: 290px;
 overflow: scroll;
 display: flex;
 flex-direction: column;
 padding-right: 10px;
 padding-bottom: 20px;
}

.recipe-card__img-wrapper {
 flex-shrink: 0;
 position: relative;
 width: 100%;
 height: auto;
}

.recipe-card__img {
 object-fit: cover;
 display: block;
 width: 100%;
 height: 160px;
}

.recipe-card__title {
 font-weight: 500;
 font-size: 22px;
 line-height: 24px;
}

.recipe-card__option-title {
 font-weight: bold;
}

.recipe-card__ingredients {
 width: 100%;
 display: grid;
 grid-template-columns: auto auto;
 column-gap: 10px;
 row-gap: 2px;
 font-size: 14px;
 line-height: 16px;
}

.recipe-card__ingredients-name {
 font-weight: bold;
}

.recipe-card__ingredients-amount {
 margin-left: auto;
}

.recipe-card__servings {
 font-weight: bold;
 font-size: 16px;
 line-height: 18px;
 margin-bottom: 20px;
 color: $recipes-text-light;
}

.recipe-card__preparing {
 font-size: 14px;
 line-height: 16px;
}

.recipe-card__button-block {
 position: absolute;
 display: flex;
 gap: 5px;
 right: 10px;
 top: 10px;
}

.recipe-card__button {
 border: none;
 border-spacing: 0;
 border-radius: 50px;
 background-color: transparent;
 color: $recipes-text;
 text-align: center;
 font-size: 20px;
 line-height: 24px;
 text-decoration: none;
 cursor: pointer;
 width: 20px;
 height: 20px;
 padding: 10px;
 position: relative;

 &:hover,
 &:focus {
  border: none;
  outline: none;
  background-color: $light-accent;
 }

 &:active {
  border: none;
  outline: none;
  background-color: $white;
 }
}

.recipe-card__button-icon {
 position: absolute;
 top: 3px;
 right: 3px;
 left: 3px;
 bottom: 3px;
}
