$dark-accent: #3486b9;
$bright-accent: #53ade4;
$light-accent: #6fb1d9;
$light-menu-accent: #b8ddf4;

$black: #000000;
$white: #ffffff;
$gray: #929292;
$gray-2: #e0d6d6;
$menu-card: #5b5b5b;
$recipes-card: #d3d3d3;
$recipes-text: #595959;
$recipes-text-light: #818181;
$light-gray: #eaeaea;
$footer-gray: #323232;
